# Database Configuration
DATABASE_URL=postgresql://user:password@host:5432/database

# Deployment Configuration
VERCEL_URL=brownfeedstore.com
NODE_ENV=production

# File Upload Configuration (Optional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Session Secret (Generate a new one for each deployment)
SESSION_SECRET=GnEi5vygzkeorvLBqUlurCSCVIXoGEsy/unDHS3i9eM=
