# Database Configuration
DATABASE_URL=postgresql://user:password@host:5432/database

# Client Configuration
CLIENT_CONFIG_PATH=./client-config.json
TEMPLATE_PATH=../../..

# Deployment Configuration
VERCEL_URL=metrofeed.com
NODE_ENV=production

# Session Secret (Generate a new one for each deployment)
SESSION_SECRET=I4kJAUE/bvJQq8ZgntiJNHEmZqdzVI3qClG0Ko9G1+s=
