# Database Configuration
DATABASE_URL=postgresql://user:password@host:5432/database

# Client Configuration
CLIENT_CONFIG_PATH=./client-config.json
TEMPLATE_PATH=../../..

# Deployment Configuration
VERCEL_URL=testefficient.com
NODE_ENV=production

# Session Secret (Generate a new one for each deployment)
SESSION_SECRET=psiAAVLcD4UVigBXQlUpcWdDbdge+DE/wra2wrCIjbA=
